In [25]:
#import libraries
import pandas as pd
import matplotlib as plt
import numpy as np
import requests
from bs4 import BeautifulSoup

In [26]:
# Choose the year, read api keys file and assign variables
census_api_key = "663083891f5b9346c0f75af604c1bb8f7e48712b"
YEAR = 2015

In [27]:
#Create function that can convert json data to dataframe
def json_to_dataframe(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

In [28]:
#Store the Education variables
#less than high school graduate
varu1= "B17003_004E,B17003_009E"
#High school graduate
varu2= "B17003_005E,B17003_010E"
#some college, associate's degree
varu3= "B17003_006E,B17003_011E"
#Bachelor's degree or higher
varu4= "B17003_007E,B17003_012E"

In [29]:
#Education data for Jefferson County
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=county:111&in=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeJ = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeJ.columns = ["Location", "Male","Female", "State", "County","info"]

#Drop the State code column.
dfeJ = dfeJ.drop(["State","County"], axis=1)

# #Export the dataframe as csv
#dfUS.to_csv('US_Poverty_by_Race.csv')

dfeJ

                     Location  Male Female                              info
0  Jefferson County, Kentucky  7592   8327    Less than high school graduate
1  Jefferson County, Kentucky  8534  10519              High school graduate
2  Jefferson County, Kentucky  6965  11492  Some college, associate's degree
3  Jefferson County, Kentucky  2887   5016        Bachlor's degree or higher

In [30]:
#Education data for the State of kentucky
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=state:21&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeK = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeK.columns = ["Location", "Male","Female", "State","info"]

#Drop the State code column.
dfeK = dfeK.drop(["State"], axis=1)

dfeK

   Location   Male Female                              info
0  Kentucky  68065  74281    Less than high school graduate
1  Kentucky  64766  88895              High school graduate
2  Kentucky  33235  72210  Some college, associate's degree
3  Kentucky  12658  19735        Bachlor's degree or higher

In [31]:
#Education data for the US 
url1 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu1)
url2 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu2)
url3 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu3)
url4 = "https://api.census.gov/data/{0}/acs/acs1?get=NAME,{A}&for=us:*&key={1}"\
    .format(YEAR,census_api_key,A=varu4)

#Transfer the json data to dataframe
DF1 = json_to_dataframe(requests.request("GET", url1))
DF2 = json_to_dataframe(requests.request("GET", url2))
DF3 = json_to_dataframe(requests.request("GET", url3))
DF4 = json_to_dataframe(requests.request("GET", url4))


#Add additional info for the race
DF1['info'] = "Less than high school graduate"
DF2['info'] = "High school graduate"
DF3['info'] = "Some college, associate's degree"
DF4['info'] = "Bachlor's degree or higher"

#Concate the dataframes into one dataframe
dfeUS = pd.DataFrame(np.concatenate([DF1.values, DF2.values, DF3.values,DF4.values]))

#Add column name
dfeUS.columns = ["Location", "Male","Female", "us","info"]

#Drop the State code column.
dfeUS = dfeUS.drop(["us"], axis=1)

dfeUS

        Location     Male   Female                              info
0  United States  3061784  4034248    Less than high school graduate
1  United States  3407824  4792580              High school graduate
2  United States  2288996  4022034  Some college, associate's degree
3  United States  1274813  1688161        Bachlor's degree or higher

In [32]:
#Join the three tables
dfeMerge = pd.concat([dfeJ, dfeK, dfeUS])

#Add the Year column 
dfeMerge['Year']=YEAR

#Export it as csv
dfeMerge.to_csv('Poverty_Education2015.csv')